<!-- <div class="login-wrapper">

    <div id="loader-wrapper">
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>


<div class="login-container alternate-theme">

<div class="login-imgwrapper"><img src="assets/images/logo.png" /></div>

 <form>
  <div>
  <mat-form-field>
    <input matInput #input  placeholder="Enter user name">
      </mat-form-field>
</div>
  
<div>
  <mat-form-field>
   <input matInput placeholder="Enter your password" [type]="'password'">
   </mat-form-field>

  </div>


<div>
  <mat-checkbox formControlName="hideRequired">Remember My Password</mat-checkbox>
</div>
<button mat-raised-button color="primary">Primary</button>
<div class="forgotpwd">
<a href="page-forgot-password.html">Forgot password ?</a>
</div>
<div>
</div>  </form>
</div>
</div> -->